@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700;800&family=Share+Tech+Mono&display=swap');

:root {
    background-color: rgb(24,24,36);
    --gray-color: rgb(189,189,189);
    --main-bg-color: rgb(24, 24, 36);
    --secondary-bg-color: rgb(24, 24, 41);
    --pry-accent-color: rgb(117, 98, 224);
    --third-bg-color: rgb(50,50,63);
    color: rgb(255, 255, 255);
    /* font-family: 'Dosis', sans-serif; */
    
    font-family: 'Share Tech Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(24,24,36);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
}

#header-caption {
    color: rgb(117, 98, 224);
    font-size: 2rem;
    font-weight: 700;
}

#navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
}

#navbar a:hover {
    color: rgb(117, 98, 224);
}

#welcome-section {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(26,26,41);
    color: rgb(255, 255, 255);
}

#img-container {
    height: 100vh;
}

#bg-img {
    background: linear-gradient(
        rgb(26,26,41) 20%,
        rgb(26,26,41)
    ), 
    url("./portfolio-images/img-ishe-no-bg.png") no-repeat;
    background-blend-mode: hue;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#intro-content {
    margin: 50% 20%
}

button {
    width: 70%;
    color: rgb(255, 255, 255);
    margin: 10px 0;
    padding: 10px;
}

button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#about-me-btn, #projects-btn {
    width: 40%;
}

.accented-btn {
    border-radius: 5px;
    background-color: rgb(117, 98, 224);
    border: none;
}

.non-accented-btn {
    border: 1px solid rgb(117, 98, 224);
    border-radius: 5px;
    background-color: transparent;
}

.accented-btn:hover {
    background-color: transparent;
    border: 1px solid var(--pry-accent-color);
}

.non-accented-btn:hover {
    border: none;
    background-color: var(--gray-color);
    color: rgb(0, 0, 54);
}

.section-heading {
    color: var(--pry-accent-color);
    font-size: 1.5rem;
    font-weight: 500;
}

section {
    padding: 10% 40px;
    /* height: 100vh */
}

#experience {
    font-size: 2rem;
    float: left;
    color: var(--pry-accent-color);
    margin-right: 10px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 5%;
}

.skillset {
    border: 1px solid var(--pry-accent-color);
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--gray-color);
    color: var(--pry-accent-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.skillset:hover {
background-color: var(--pry-accent-color);
border-color: var(--gray-color);
color: rgb(255, 255, 255);
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.project-tile {
    border: 1px solid rgb(0, 0, 54);
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--third-bg-color);
    border-radius: 5px;
    box-shadow: 1px 8px 10px 1px rgb(0, 0, 54, 0.5);
}

.project-tile img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.project-title {
    color: var(--pry-accent-color);
    text-transform: capitalize;
    font-weight: 500;
    border-bottom: 1px solid var(--pry-accent-color);
    display: block;
    width: max-content;
    margin: 5px 0;
}

#contacts {
    display: flex;
    flex-direction: row;
    gap: 10%;
    background-color: var(--secondary-bg-color);
}

input, textarea, form button {
    display: block;
    margin-top: 20px;
    width: 100%;
}

form input {
    height: 30px;
}

input, textarea {
    padding: 8px;
    background-color: var(--third-bg-color);
    border: none;
    border-radius: 5px;
    outline: none;
}

input:focus, textarea:focus {
    border: 1px solid var(--pry-accent-color);
    color: rgb(189,189,189);
}

input::placeholder, textarea {
    color: rgb(189,189,189);
}

.social-media-icons {
    font-size: 2rem;
    display: inline-block;
    margin: 20px 0;
}

.social-media-icons a {
    color: var(--pry-accent-color);
}

.social-media-icons a:hover {
    color: var(--gray-color);
}

#footer-content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #bg-img {
        visibility: hidden;
    }

    #welcome-section {
        background: linear-gradient( 
            rgb(26,26,41) 20%,
            rgb(26,26,41) ), 
            url("./portfolio-images/img-ishe-no-bg.png") no-repeat;
        background-blend-mode: hue;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .skills {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 5%;
    } 

    .skillset {
        height: 50px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    /* #bg-img {
        visibility: hidden;
    }

    #welcome-section {
        background: linear-gradient( 
            rgb(26,26,41) 20%,
            rgb(26,26,41) ), 
            url("./portfolio-images/img-ishe-no-bg.png") no-repeat;
        background-blend-mode: hue;
        background-size: cover;
        height: 100%;
        width: 100%;
    } */

    #projects-container, #contacts {
        display: flex;
        flex-direction: column;
    }

    #about-me-btn, #projects-btn {
        width: 100%;
    }
}